@font-face {
  font-family: 'YEONGJUPunggiGinsengTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(242, 233, 233);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #1E90FF;
}

#header img {
  height: 50px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

#nav,
#section {
  width: 100%;
  text-align: center;
}

#nav h1 {
  margin-top: 20px;
  font-family: 'YEONGJUPunggiGinsengTTF';
  color: black;
}

#nav p {
  font-size: 12px;
  font-family: 'YEONGJUPunggiGinsengTTF';
}

#boader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 700px;
  height: 30px;
  background-color: green;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: 'YEONGJUPunggiGinsengTTF';
  padding-top: 5px;
  border-radius: 3px;
  border: 2px solid rgb(234, 189, 76);
  color: white;
}

#main {
  display: flex;
}

#main>div {
  margin-top: 30px;
}

#left {
  margin-left: auto;
  margin-right: 50px;
}

#right {
  margin-right: auto;
  margin-left: 50px;
}

#center>span {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

span {
  display: flex;
  margin-top: 10px;
}

span>div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 23px;
  font-family: 'YEONGJUPunggiGinsengTTF';
  color: black;
}

span>div:hover {
  border: 2px solid black;
}

.table1 {
  width: 125px;
  height: 70px;
  background-color: rgb(219, 167, 98);
  border: 2px solid black;
  border-radius: 15px;
  transform: rotate(10deg);
}

.table2 {
  margin-top: 27px;
  margin-left: 5px;
}

.table3 {
  width: 125px;
  height: 70px;
  background-color: rgb(219, 167, 98);
  border: 2px solid black;
  border-radius: 15px;
}

.table4 {
  margin-left: 5px;
}

.table_center {
  margin-left: 80px;
}

.table5 {
  width: 125px;
  height: 70px;
  background-color: rgb(219, 167, 98);
  border: 2px solid black;
  border-radius: 15px;
  transform: rotate(-10deg);
}

.table6 {
  margin-top: 27px;
  margin-right: 5px;
}

#button {
  width: 100%;
  margin-left: 73vh;
}

button {
  width: 250px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  outline: none;
  border: 1px solid;
  margin-top: 40px;
  border: 5px solid rgb(225, 170, 68);
  background-color: white;
  color: #d9862d;
  font-family: 'YEONGJUPunggiGinsengTTF';
  margin-right: 10px;
}

button:hover {
  background-color: #f6f6f6;
}

@media screen and (max-width: 700px) {
  #boader {
    display: none;
  }
}

h2 {
  display: inline-block;
  font-family: 'YEONGJUPunggiGinsengTTF';
  font-size: 35px;
}